# .gcloudignore

# 忽略所有 Python 虛擬環境
.venv/
__pycache__/

# 忽略 Nix/Direnv 相關的檔案
.direnv/
result

# 忽略 Git 檔案
.git/

# 絕對不要忽略這些檔案！
# Dockerfile
# requirements.txt
# main.py
# app.py
# env.yaml
# serviceAccountKey.json