# 忽略常見的系統檔案
.DS_Store
Thumbs.db

# 忽略 node_modules 及其內容
node_modules/

# 忽略 Python bytecode
*.pyc

# 忽略環境檔案
.env
env.yaml

# 忽略 Firebase 憑證檔案
service-account-key.json
my-sa-key.json

# 忽略其他敏感檔案 (如果有的話)
*.log
*.backup

# 忽略其他編譯後的檔案或資料夾 (根據您的專案)
build/
dist/
