rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /posts.json {
      allow read: if true; // 允許公開讀取 posts.json
    }
    match /{allPaths=**} {
      allow read, write: if request.auth != null; // 其他文件需要認證
    }
  }
}